# Compiled class file
*.class

#Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# User defined
nbjproject/private/
build/
dist/

/FlightRSLibrary/build/
/FRSManagementClient/nbproject/private/
/FRSManagementClient/dist/
/FRSManagementClient/build/
/FlightRSLibrary/dist/
/FlightRS-ejb/build/
/FlightRS-ejb/dist/
/dist/
/FRSReservationClient/nbproject/private/
/FRSReservationClient/dist/
/FRSReservationClient/build/
/FlightRS-ejb/nbproject/private/
/FlightRSLibrary/nbproject/private/
/build/
/HolidayReservationSystemClient/nbproject/private/
/HolidayReservationSystemClient/build/
