# Compiled class file
*.class

#Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# User defined
nbjproject/private/
build/
dist/

FlightRS-ejb/nbjproject/private/
FlightRS-ejb/build/
FlightRS-ejb/dist/

FRSManagementClient/nbjproject/private/
FRSManagementClient/build/
FRSManagementClient/dist/

FRSReservationClient/nbjproject/private/
FRSReservationClient/build/
FRSReservationClient/dist/

FlightRSLibrary/nbjproject/private/
FlightRSLibrary/build/
FlightRSLibrary/dist/





